body {
   font-family: 'Poppins', sans-serif; 
}

h1 {
  font-weight: 700; 
}

.buttonStylingRed {
  background-color: #FB9F9C !important; 
  color: #ffffff !important;                
  border: none;           
}
.buttonStylingGreen {
  background-color: #8CE5A4 !important; 
  color: #ffffff !important;                
  border: none;           
}

.buttonStylingRed:hover,
.buttonStylingGreen:hover {
  background-color: #9CD4FB !important; 
}



/* Canvas */

.draw-area {
  width: 300px;
  height: 300px;
  background: black;       /* You wanted a black background */
  position: relative;
  margin: 50px auto;       /* center it */
}

#drawCanvas {
  width: 100%;
  height: 100%;
  display: block;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;    /* IMPORTANT: prevents blocking drawing */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid-overlay div {
  border: 1px solid rgba(255, 255, 255, 0.2); /* faint white lines */
}


