body {
   font-family: 'Poppins', sans-serif; 
}

h1 {
  font-weight: 700; 
}

.buttonStylingRed {
  background-color: #FB9F9C !important; 
  color: #ffffff !important;                
  border: none;           
}
.buttonStylingGreen {
  background-color: #8CE5A4 !important; 
  color: #ffffff !important;                
  border: none;           
}

.buttonStylingRed:hover,
.buttonStylingGreen:hover {
  background-color: #9CD4FB !important; 
}



/* Canvas */

canvas {
  touch-action: none;     /* Disable scrolling, zooming & refresh gestures */
}


.draw-area {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px auto;
}

.draw-area canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: black;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  pointer-events: none; /* allows clicks to pass through to the canvas */
}

.grid-overlay div {
  border: 1px solid rgba(255,255,255,0.3); /* faint grid lines */
}




